.home_container {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.home {
    max-width: 1600px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 20px 20px;
}


.home_table_navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}
.home_table_navbar_item {
    border: 5px solid white;
}
.home_table_navbar_item h2 {
    margin: 10px;
}
.home_table_navbar_item :hover {
    cursor: pointer;
}

.search_div {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 350px;
    height: fit-content;
    position: relative;
    margin: 0;
    padding-right: 10px;
}
.home_table_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0px 20px 0px;
    position: relative;
}
.home_table_search label {
    font-weight: bold;
}
.home_table_search input {
    width: 310px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}
.clear_button {
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 5px;
}
.clear_button:hover {
    color: red;
}

.home_table_and_chart {
    display: flex;
    align-items: center;
    width: 100%;
}

.home_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 10px 0px 10px 20px;
}
table {
    font-weight: bold;
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}
.table_container {
    width: 100%;
    height: 73.3vh;
    max-height: 733;
    overflow-y: auto;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    padding-right: 10px;
}
th {
    z-index: 1;
    top: 0;
    position: sticky;
    background-color: white;
}
tr {
    height: 35px;
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
}
td input {
    width: 20px;
    height: 20px;
}
.table_symbol {
    color: rgb(34, 103, 196);
    font-weight: bold;
}
.table_symbol:hover {
    cursor: pointer;
}
.positive {
    color: green;
}
.negative {
    color: red;
}
.table_range {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.table_range_length {
    width: 90%;
    border-radius: 15px;
    height: 2px;
    background-color: red;
}
.table_range_fill {
    z-index: 1;
    height: 2px;
    background-color: green;
}
.table_range_label {
    width: 100%;
    font-size: 10px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    gap: 10px
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
.slideIn {
    animation: slideIn 0.3s ease forwards;
}
.slideOut {
    animation: slideOut 0.3s ease forwards;
}

.home_chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    margin: 10px 20px 10px 0px;
    height: 79vh;
    max-height: 800px;
    overflow-y: scroll;
    padding: 20px 10px 10px 10px;
    gap: 10px;
}
.home_chart_price, .home_chart_volatility {
    border: 1px solid #ddd;
}
.home_chart_price {
    width: 99%;
    height: 300px;
}
.home_chart_volatility {
    width: 99%;
    height: 220px;
}

.home_chart_add_to_bucket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 10px 0px 20px 0px;
}
.home_chart_add_to_bucket_form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.home_chart_add_to_bucket label {
    font-weight: bold;
    font-size: 14px;
}
.form_input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form_input input {
    height: 30px;
    width: 100px;
    font-size: 14px;
}
.controller_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.controller_buttons_buttons, form button {
    height: 40px;
    width: 80px;
    background-color: rgb(0, 103, 184);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
}
.controller_buttons_buttons:hover, form button:hover{
    background-color: rgb(3, 85, 148);
    cursor: pointer;
}
.selected {
    color: rgb(34, 103, 196);
    border-bottom: 5px solid rgb(34, 103, 196);
    transition: border-bottom 0.3s ease;
}

.popup_container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.popup {
    width: 50%;
    height: 90%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}
.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 15px 10px 10px;
}
.closeButton:hover {
    cursor: pointer;
    color: red;
}

.bucket_table {
    width: 80%;
    height: 100%;
    overflow-y: auto;
    border: 1px solid #ddd;
}
.bucket_table td {
    color: rgb(34, 103, 196);
}
.deleteIcon {
    cursor: pointer;
}

.settings_options {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 50%;
    margin: 20px 0px 20px 0px;
}
.popup_header h2 {
    margin: 0;
}
.popup_proceed {
    width: 80px;
    height: 30px;
    background-color: #3aaf19;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.popup_proceed:hover {
    background-color: #3dbe1a;
    cursor: pointer;
}
.settings_cancel {
    background-color: white;
    margin: 30px 15px 30px 30px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
}
.settings_cancel:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.settings_buttons {
    position: absolute;
    bottom: 0;
}

.analysis_options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 85%;
    margin: 0px 0px 20px 0px;
    padding: 10px 20px 20px 20px;
    overflow-y: scroll;
}
.analysis_options form {
    padding-right: 10px;
}
.analysis_options_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100vh;
    border-radius: 5px;
}
.loading h1 {
    color: red;
    margin: 0;
}

.loading_page {
    width: 100%;
    z-index: 300;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loading_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 50vh;
}
.loading_container_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.barloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}