.results_container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.results {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 30px 20px 30px;
    font-size: 14px;
}
.results_mode_selector {
    display: flex;
    gap: 30px;
    width: 100%;
    align-items: center;
}
.results_mode_selector label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.results_exposure_limits_items {
    display: flex;
    align-content: center;
    gap: 100px;
}
.results_exposure_limits {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.results_exposure_limits_item {
    display: flex;
    align-items: center;
    gap: 30px;
}
.results_exposure_limits select {
    width: 120px;
}
.results_exposure_limits input {
    width: 120px;
}
.results_exposure_limits_item_input {
    display: flex;
    gap: 10px;
    align-items: center;
}

.results_portfolio_value_evaluation_and_parameters {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.results_portfolio_value_evaluation {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.results_portfolio_value_evaluation_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.portfolio_value_evaluation_item_data {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.portfolio_value_evaluation_item_data_item {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.results_portfolio_value_data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.results_portfolio_value_data_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    /* border: 1px solid #ddd */
}
.results_portfolio_value_chart {
    width: 69%;
    height: 25vh;
    border: 1px solid #ddd;
}
.results_portfolio_value_pie_chart {
    /* border: 1px solid #ddd; */
    height: 25vh;
    width: 65%;
}
.results_portfolio_value {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.results_portfolio_value_items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.split_view {
    width: 100%;
    margin-top: 30px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
}
.split_view_item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.split_view_item_data {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.split_view_chart {
    width: 75%;
    height: 20vh;
    border: 1px solid #ddd;
}
.split_view_data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.split_view_chart_2 {
    width: 100%;
    height: 65vh;
    border: 1px solid #ddd;
}